<a-entity
  id="optionsMenu"
  bind__visible="optionsMenuOpen"
  position="0 0.5 0.01"
  render-order="menutext">

  <a-entity id="optionsTitle" mixin="font" text="align: center; value: OPTIONS; width: 2.5"></a-entity>

  <a-entity id="colorOptionsContainer" position="0 -0.25 0">
    <a-entity id="colorTitle" mixin="font" text="align: center; value: THEMES; width: 2"></a-entity>

    <a-entity id="colorOptions" position="-0.79 -0.175 0.00" layout="type: box; columns: 10; margin: 0.2" materials-color-menu>
      {% for color in COLORS.options %}
        <a-entity
          class="colorOption"
          data-color-name="{{ COLORS.schemes[color].name }}"
          data-color-scheme="{{ color }}"
          mixin="clickSoundUI hoverSoundUI"
          animation__mouseenter="property: scale; to: 1.2 1.2 1.2; dur: 150; easing: easeInOutCubic; startEvents: mouseenter"
          animation__mouseleave="property: scale; to: 1 1 1; dur: 125; easing: easeInOutCubic; startEvents: mouseleave"
          geometry="primitive: plane; width: 0.15; height: 0.15"
          material="shader: gradientShader; color1: {{ COLORS.schemes[color].primary }}; color2: {{ COLORS.schemes[color].secondary }}; transparent: true"
          render-order="menutext"
          bind-toggle__raycastable="optionsMenuOpen">
        </a-entity>
      {% endfor %}
    </a-entity>

    <a-entity
      id="colorName"
      mixin="font"
      text="align: center; color: #CCC; width: 1"
      position="0 -0.35 0.1"
      render-order="menutext"></a-entity>
  </a-entity>

  <a-entity id="statsOptionsContainer" position="0 -0.75 0">
    <a-entity id="gameStatsTitle" mixin="font" text="align: center; value: GAME STATS; width: 2"></a-entity>

    <a-entity
            id="statsDistanceOptions"
            position="0 -0.175 0">

      <a-entity
              id="statsDistanceTitle"
              mixin="font"
              bind__text="color: colorPrimary"
              text="align: center; value: STAT DISTANCE; width: 1.5"
              position="-0.9 -0.06 0.002"
      ></a-entity>

      <!-- START CLOSE BUTTON -->
      <a-entity id="statsDistanceCloseButton"
                position="-0.3 0 0.002"
                mixin="optionsMenuButton"
                bind-toggle__raycastable="optionsMenuOpen"
                bind__options-button-selector="selected: statDistance == 'CLOSE'"
                proxy-event="event: click; to: a-scene; as: statsDistanceClose">
        <a-entity mixin="font" text="align: center; color: #FFF; wrapCount: 26; value: CLOSE" position="0 -0.055 0.01"></a-entity>
      </a-entity>
      <!-- END CLOSE BUTTON -->

      <!-- START FAR BUTTON -->
      <a-entity id="statsDistanceFarButton"
                position="0.3 0 0.002"
                mixin="optionsMenuButton"
                bind-toggle__raycastable="optionsMenuOpen"
                bind__options-button-selector="selected: statDistance == 'FAR'"
                proxy-event="event: click; to: a-scene; as: statsDistanceFar">
        <a-entity mixin="font" text="align: center; color: #FFF; wrapCount: 26; value: FAR" position="0 -0.055 0.01"></a-entity>
      </a-entity>
      <!-- END FAR BUTTON -->

      <!-- START VERY FAR BUTTON -->
      <a-entity id="statsDistanceVeryFarButton"
                position="0.9 0 0.002"
                mixin="optionsMenuButton"
                bind-toggle__raycastable="optionsMenuOpen"
                bind__options-button-selector="selected: statDistance == 'VERY_FAR'"
                proxy-event="event: click; to: a-scene; as: statsDistanceVeryFar">
        <a-entity mixin="font" text="align: center; color: #FFF; wrapCount: 26; value: VERY FAR" position="0 -0.055 0.01"></a-entity>
      </a-entity>
      <!-- END VERY FAR BUTTON -->

    </a-entity>

    <a-entity
            id="statsProgressStyleOptions"
            position="0 -0.35 0">

      <a-entity
              id="statsProgressStyleTitle"
              mixin="font"
              bind__text="color: colorPrimary"
              text="align: center; value: PROGRESS\n INDICATOR; width: 1.5"
              position="-0.9 -0.06 0.002"
      ></a-entity>

      <!-- START BAR BUTTON -->
      <a-entity id="statsProgressStyleBarButton"
                position="-0.3 0 0.002"
                mixin="optionsMenuButton"
                bind-toggle__raycastable="optionsMenuOpen"
                bind__options-button-selector="selected: progressStyle == 'BAR'"
                proxy-event="event: click; to: a-scene; as: progressStyleBar">
        <a-entity mixin="font" text="align: center; color: #FFF; wrapCount: 26; value: BAR" position="0 -0.055 0.01"></a-entity>
      </a-entity>
      <!-- END BAR BUTTON -->

      <!-- START COUNTER BUTTON -->
      <a-entity id="statsProgressStyleCounterButton"
                position="0.3 0 0.002"
                mixin="optionsMenuButton"
                bind-toggle__raycastable="optionsMenuOpen"
                bind__options-button-selector="selected: progressStyle == 'COUNTER'"
                proxy-event="event: click; to: a-scene; as: progressStyleCounter">
        <a-entity mixin="font" text="align: center; color: #FFF; wrapCount: 26; value: COUNTER" position="0 -0.055 0.01"></a-entity>
      </a-entity>
      <!-- END COUNTER BUTTON -->

    </a-entity>

  </a-entity>

</a-entity>
